header{
    text-align: center;
   background-color:cadetblue;
    font-display: inline;
}

body{
    background-color: bisque;
    margin: 10px;
}

a{
    text-align: center;
    text-decoration: underline;
    display: inline;
}

h1{
    text-align: center;
    color:dimgrey;
}


  .box1 {
    width: 100px; 
    height: 100px; 
    margin: 100px; 
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightblue; 
  }

  .box2 {
    width: 100px; 
    height: 100px; 
    margin: 100px; 
    margin-left: 100px;
    margin-right: 100px;
    background-color: lightblue; 
  }

  .box3 {
    width: 100px; 
    height: 100px; 
    margin: 100px; 
    background-color: lightblue; 
  }

  .box4 {
    width: 100px; 
    height: 100px; 
    margin: 100px; 
    background-color: lightblue; 
  }