
header{
    background-color: rgb(68, 66, 66);
    height: 60px;
}


a{
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
    margin-left: 120px;
    margin-right: 120px;
}


h1{
    text-align: center;
    font-size: 30px;
    font-family:initial;
    margin: 5px;
}

img{
    margin-left: 140px;
    margin-left: 100px;
}

footer{
   align-items: flex-start;
   margin-left: 100px;
   margin-right: 100px;
 
}
